

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', system-ui, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  background-image: url(https://ak8.picdn.net/shutterstock/videos/31579318/thumb/1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  color: white;

  /* will-change: transform;
  animation-duration: 20s;
  animation-name: background-image-animation;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform: translateX(0) scale(1.1); */
}


/* //////////////nav bar */
.burger {
  background-color: transparent;
  border: 0;
  box-shadow: 0;
  color: white;
  font-size: 2em;
  line-height: 30px;
  height: 30px;
  padding-bottom: 10px;
  box-sizing: border-box;
  position: absolute;
  bottom: 53px;
  right: 13px;
  height: 30px;
  width: 30px;
  transition: all 0.2s ease-in-out;
  margin: 7px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
}

.burger:hover, .burger:focus, li button:hover, li button:focus {
  background-color: white;
  color: gray;
  outline: none;
}

ul {
  padding: 0 56px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: relative;
  max-height: 100px;
}

li {
  margin: 0;
  line-height: 50px;
  min-height: 50px;
}

li button {
  background-color: transparent;
  border: 0;
  box-shadow: 0;
  font-size: 1.1em;
  color: white;
  line-height: 30px;
  height: 30px;
  padding-bottom: 7px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 10px 0;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}

nav {
  width: calc(100% - 60px);
  margin: 0;
  padding: 0;
  margin: 0 30px;
  position: relative;
}

nav:after {
  position: absolute;
  content: "";
  bottom: -1px;
  height: 1px;
  right: 20px;
  left: 20px;
  background-color: white;
}

.nav-cut {
  width: 100%;
  height: 50px;
  overflow: hidden;
  max-height: 100px;
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
}

/* end nav bar  */

.nameLast {
  /* position: relative; */
  fill: #FAF8FF;
  stroke:none;
  stroke-width: 5px;
  font-size: 180px;
  font-family: Gabriola;
  stroke-dasharray: 1360;
animation-iteration-count: 1;
animation: csvg 3s cubic-bezier(0, 0.23, 1, .1);
left: -90%;
/* position: fixed; */
}

.web {
  /* position: absolute; */
  fill: #FAF8FF;
  stroke:none;
  stroke-width: 2px;
  font-size: 110px;
  font-family: Gabriola;
  stroke-dasharray: 1360;
animation-iteration-count: 1;
animation: csvg 3s cubic-bezier(0, 0.23, 1, .1);
top: 50px;

}

.about {
  color: white;
  top: 7%;
  font-family: Gabriola;
}



/* .dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
 */

@keyframes csvg {
    0% {
        stroke: #fff;
        stroke-width: 2px;
        opacity: 0;
        fill: none;
        stroke-dasharray: 0;
    }
    30% {
        stroke: #fff;
        stroke-width: 2px;
        opacity: 10;
        fill: none;
    }
    80% {
        stroke: #fff;
        stroke-width: 2px;
        fill: rgba(255, 255, 255, 0);
    }
    100% {
        opacity: 10;
        fill: #FFE7FF;
        stroke-dasharray: 1360;
        outline: none;
        stroke: none;
    }
}


.text {
  font-family: cursive;
  font-size: 3.0em;
  color: #9E9E9E;
  text-shadow: 2px 2px 3px black, 0 0 1em #616161;
  font-size: 3em;
}

.wrapper {
  width: 100%;
  position: relative;
  /* transform: translate(-50%, -50%); */
  top: 5%;
  /* left:-10%; */
}

.home {
  height: 100%;
  bottom: 20px;
}

.webMobile {
  position: relative;
  display: none;
  color: white;
  align-items: center;
}

.portret {
  max-width: 65%;
  left: 50%;
  transform: translateX(30%);
  border: 3px solid #ffffff;

}

/* .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
  animation-duration: 20s;
  animation-name: background-image-animation;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform: translateX(0) scale(1.1);
  background: url('https://images.pexels.com/photos/16605/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb') no-repeat center center;
  background-size: cover;
} */

/* @keyframes background-image-animation {
  0% {
    transform: translateX(-5%) scale(1.1);
  }
  100% {
    transform: translateX(5%) scale(1.1);
  }
} */

@media only screen and (max-width: 600px) {
  .web {
    display: none;
  }
  .nameLast {
    display: none;
  }
  .webMobile {
    display: block;
  }
}



@-webkit-keyframes dash {
  from {
    stroke-dasharray: 0 1000;
  }

  to {
    stroke-dasharray: 1000 0;
  }
}

@keyframes dash {
  from {
    stroke-dasharray: 0 1000;
  }

  to {
    stroke-dasharray: 1000 0;
  }
}

@-webkit-keyframes opac {
  from {
    fill-opacity: 0;
  }

  to {
    fill-opacity: 1;
  }
}

@keyframes opac {
  from {
    fill-opacity: 0;
  }

  to {
    fill-opacity: 1;
  }
}
