body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', system-ui, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: pink;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  color: white;
}

/* //////////////nav bar */
.burger {
  background-color: transparent;
  border: 0;
  box-shadow: 0;
  color: white;
  font-size: 2em;
  line-height: 30px;
  height: 30px;
  padding-bottom: 10px;
  box-sizing: border-box;
  position: absolute;
  bottom: 53px;
  right: 13px;
  height: 30px;
  width: 30px;
  transition: all 0.2s ease-in-out;
  margin: 7px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
}

.burger:hover, .burger:focus, li button:hover, li button:focus {
  background-color: white;
  color: gray;
  outline: none;
}

ul {
  padding: 0 56px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: relative;
  max-height: 100px;
}

li {
  margin: 0;
  line-height: 50px;
  min-height: 50px;
}

li button {
  background-color: transparent;
  border: 0;
  box-shadow: 0;
  font-size: 1.1em;
  color: white;
  line-height: 30px;
  height: 30px;
  padding-bottom: 7px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 10px 0;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}

nav {
  width: calc(100% - 60px);
  margin: 0;
  padding: 0;
  margin: 0 30px;
  position: relative;
}

.nav-cut {
  /* width: 100vw; */
  width: 100%;
  height: 50px;
  overflow: hidden;
  max-height: 100px;
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
}

.nav-cut a {
  color: inherit;
}

.nav-top {
margin: 0;
width: 100%;
border-bottom: solid white 2px;
}

/* end nav bar  */

.wrapper {
  height: 300px;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  /* transform: translate(-50%, -50%); */
  top: 15%;
  margin-left: 90px;
}

.nameLast {
  fill: #FAF8FF;
  stroke:none;
  stroke-width: 22px;
  font-size: 200px;
  font-family:'Satisfy',cursive;
  stroke-dasharray: 1360;
animation-iteration-count: 1;
animation: csvg 4s cubic-bezier(0, 0.23, 1, .1);
}

.web {
  fill: #FAF8FF;
  stroke: none;
  stroke-width: 2px;
  font-size: 140px;
  font-family:'Satisfy',cursive;
  stroke-dasharray: 1360;
animation: csvg 7s cubic-bezier(0, 0.23, 1, .1);
animation-iteration-count: 1;
top: 50px;

}

.name_web {
  width: 100%;
  padding: 0;
  margin: 0;
  color: white;
  top: 30%;
  font-family: Gabriola;
  /* margin-left: -40px; */
}

.about_me {
  margin: 260px 10%;
  color: white;
  font-family: Gabriola;

}

@keyframes csvg {
    0% {
        stroke: #fff;
        stroke-width: 2px;
        opacity: 0;
        fill: none;
        stroke-dasharray: 0;
    }
    30% {
        stroke: #fff;
        stroke-width: 2px;
        opacity: 10;
        fill: none;
    }
    80% {
        stroke: #fff;
        stroke-width: 2px;
        fill: rgba(255, 255, 255, 0);
    }
    100% {
        opacity: 10;
        fill: #FFE7FF;
        stroke-dasharray: 1360;
        outline: none;
        stroke: none;
    }
}


.text {
  font-family: cursive;
  font-size: 3.0em;
  color: #9E9E9E;
  text-shadow: 2px 2px 3px black, 0 0 1em #616161;
  font-size: 3em;
}



.home {
  width: 100vw;
  padding: 0;
  margin: 0;
  height: 900px;
  background: url(http://tadalafilforsale.net/data/media/27/54779834.jpg) no-repeat center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.about {
  width: 100vw;
  padding: 0;
  margin: 0;
  height: 900px;
  background: url(http://tadalafilforsale.net/data/media/27/54779834.jpg) no-repeat center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.resume {
  width: 100vw;
  padding: 0;
  margin: 0;
  height: 100%;
  background: url(http://wallpaper-iphone.le-blog-du-geek.com/imgs/i51267c4af62e513d33e6d2bc55522035e.jpg) no-repeat center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  }

  .resume_img {
    width: 80%;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3.5%;
  }


@media only screen and (max-width: 600px) {
  .home {
    display: none;
    height: 900px;
  }
  .web {
  font-size: 100px;
}
.nameLast {
  font-size: 150px;
}
.about_me {
  margin-top: 40px;
}
.wrapper {
  margin-left: 0;
}
.resume_img {
  margin-top: 15%;
  margin-bottom: 15%;
}
.name_web {
  top: 90px;
  left: 40px;
}

}
/* portret: ; */
.box {
  position: relative;
  top: 60%;
  max-width: 90%;
  left: 50%;
  transform: translateX(-50%);
  width: 60vmin;
  height: 60vmin;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 1px dashed rgba(255,255,255,0.4);
    transform: scale(1.42);
  }
}

.spin-container {
  width: 90%;
  height: 90%;
  animation: spin 12s linear infinite;
  position: relative;
}

.shape {
  width: 100%;
  height: 100%;
  transition: border-radius 1s ease-out;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 4s ease-in-out infinite both alternate;
  position: absolute;
  overflow: hidden;
  z-index: 5;
}

.bd {
  width: 142%;
  height: 142%;
  position: absolute;
  left: -21%;
  top: -21%;
  background-color: black;
  background-image: url(../Images/portret.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  display: flex;
  color: #003;
  font-size: 5vw;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  animation: spin 12s linear infinite reverse;
  opacity: 1;
  z-index: 2;
}

@keyframes morph {
  0% {border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;}
  100% {border-radius: 40% 60%;}
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
/* portret: ; */

.contact_me {
  margin: 15%;
}

.btn-default {
  margin: 20px;
  background-color: black;
  color: grey;
  font-size:2em;
  font-family:'Satisfy',cursive;
}
